.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.cancelButton {
    background-color: #ccc;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.confirmButton {
    background-color: #f44336;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.cancelButton:hover, .confirmButton:hover {
    opacity: 0.8;
}
