.main{
    display: flex;
    height: 100vh;
}
.mainLeft{
    height: 110vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 30%;
}
.mainRight{
    background-color: #f4f4f9;
    width: 100%;
}
.mainRight1{
    display: flex;
    align-items: center;
    gap: 1em;
    height: 100px;
    transform: translateY(-30em);
}
.right1{
    background-color: plum;
    width: 200px;
    border-radius: 12px;
    transform: translateX(2em);
}
.right1 h1, .right2 h1, .right3 h1, .right4 h1, .right5 h1{
    transform: translateX(2.7em);
}
.right1 p, .right2 p, .right3 p{
    transform: translateX(4.5em);
}
.right2{
    background-color: orange;
    width: 200px;
    border-radius: 12px;
    transform: translateX(2em);
}
.right3{
    background-color: aquamarine;
    width: 200px;
    transform: translateX(2em);
    border-radius: 12px;
}
.mainRight2{
    display: flex;
    align-items: center;
    gap: 3em;
    transform: translateY(-27em);
}
.right4{
    background-color: #fff;
    width: 25%;
    transform: translateX(2em);
    border-radius: 12px;
    height: 350px;
}
.right5{
    background-color: #fff;
    height: 350px;
    border-radius: 12px;
    width: 40%;
}
.right4 img{
    width: 250px;
    height: 250px;
    transform: translateX(1em);
}
.right5 img{
    width: 400px;
    height: 260px;
    transform: translateX(2em);
    margin-top: -1.5em;
}